<div class="userDetails">
  <h2>User details</h2>
  <a class="btn btn-small btn-warning" (click)="editUser()" *ngIf="isAdminUser">edit</a>
  <a class="btn btn-small btn-warning" (click)="deleteUser()" *ngIf="isAdminUser">delete</a>
  <div *ngIf="message" class="bg-warning p-5">{{message}}</div>
  <table>
    <tr>
      <td>id</td><td>{{user?.id}}</td>
    </tr>
    <tr>
      <td>name</td><td>{{user?.name}}</td>
    </tr>
    <tr>
      <td>Password</td><td><a class="btn btn-small btn-warning" (click)="resetPassword()" *ngIf="isAdminUser">reset</a></td>
    </tr>
  </table>
</div>
