<h1>{{user.id == null ? 'Add' : 'Edit'}} User</h1>

<div class="bg-warning p-5" *ngIf="message">{{message}}</div>

<form>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="formUser.name" name="name" >
    <div class="alert alert-danger">error message placeholder</div>

  </div>

  <div class="form-group" *ngIf="user.id == null"  > <!-- only show this field on adding a user -->
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="password" name="password" [(ngModel)]="password" >
    <div class="alert alert-danger">error message placeholder</div>

  </div>

  <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
</form>


