<app-header (pageChangeEvent)="incrementHitCounter($event)"></app-header>
<app-page1 [hidden]="currentPage !== 1"></app-page1>
<app-page2 [hidden]="currentPage !== 2" #page2></app-page2>
<app-page3 [hidden]="currentPage !== 3"></app-page3>
<app-footer #footer [lastAccessed]="startTime"  ></app-footer>
<button (click)="updateLastAccessed()">Update last accessed</button>
