<h1>Page 2</h1>
<p>This page has had {{hits}}</p>
<p>This is the second page in the site.</p>
<p>Maecenas nec condimentum tellus, ac rhoncus odio. Etiam porta, nulla vel condimentum sodales, est lacus vehicula
  lacus, vitae euismod eros nisl quis mauris. Praesent fringilla lacus eu justo luctus, vel bibendum lorem lacinia.
  Morbi quis lectus vehicula, tempus erat congue, pharetra risus. Nullam at posuere purus. Aliquam lobortis elit
  fringilla metus ornare, sed auctor elit mollis. Nam libero risus, finibus id vehicula nec, tristique sit
  amet dolor. Sed pharetra tortor ac ante commodo, vel vehicula mauris vulputate. Maecenas finibus ac ante ut
  porttitor.</p>

